h1{
	/*width: 200px;*/
	position: relative;
	float: left;
	margin: 0;
	
}
#content{
	float: left;
	margin: 10px 0px;
	width: 100%;
	
}
#sub_header{
	
	width: 80%;
	position: relative;
	float: left;
	margin: 3% 0% 0% 2%;

}

img{
	width: 100px;
	heigh: 50px;
}

#group-search, #url{
	width: 80%;
}

#loadHtml, #verifyLinksImg{
	display: none;
}

table td{
	text-decoration: bold;
}

.info{
	padding: 14px 120px !important;
}
.right{
	float: right;
}

#loader {
    width: 100%; 
    height: 100%; 
    opacity:0.3; 
    -moz-opacity: 0.3; 
    filter: alpha(opacity=0); 
    background-color: #000;
	background-image: url("/img/loader.gif") no-repeat;	
	background-position: 0 auto;
    top: 0px; 
    left: 0px; 
    z-index: 999; 
    position: absolute; 
    display: none;
}

#imgLoader {
    position: absolute;
    left: 45%;
    margin-top: 10%;
}